<!DOCTYPE html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar-nav mr-auto bg-light transparent">
    <h3 class=" text-center display-5 text-uppercase font-bold"
        style="margin-top: 5px; font-family: Georgia, 'Times New Roman', Times, serif; color: #2b1941;padding-top:1%;">
        <i class="fa fa-dollar"> </i>&nbsp; Pension Management
        Portal
    </h3>

    <div class="right navbar-nav ml-auto">
    <a href="/logout">Logout</a>
    </div>
</nav>
