<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Pension Management</title>

</head>
<app-header></app-header>

<body>
    <section>
        <div class="page">
            <div class="container">
                <div class="left">
                    <img src="https://res.cloudinary.com/display/image/upload/v1627986775/Tick_Mark_Dark-512_n5pwhd.png"
                        height="100%" width="100%">
                </div>
                <div class="right">
                    <div style="padding:15%;margin-top:10%">
                        <h1 class="login">{{msg}}</h1>
                        <p>
                            {{info}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div>
        <button (click)="onClicked()">Go Back to Pensioner Input</button>
    </div>
</body>
<app-footer></app-footer>

</html>